.nav-notification {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: tomato;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -5px;
  top: -3px;
}
.nav-notification-animation {
  animation: notificationanimation 1.5s ease-in-out infinite;
}
@keyframes notificationanimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-7px) rotateY(360deg);
  }
  100% {
    transfrm: none;
  }
}
.nav-notification-dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: tomato;
  position: absolute;
  right: 0;
  top: 5px;
}
.user-notification {
  position: absolute;
  top: 38px;
  right: 6px;
}
.header-notification-dot {
  position: absolute;
  top: -8px;
  right: -5px;
}
