.screen-header {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding: 23px var(--side-margin);
}
.screen-header-title {
  font-size: 28px;
  font-weight: 900;
}
.screen-header-icons {
  display: flex;
  align-items: center;
}
.screen-header-icon {
  margin-left: 17px;
  transition: transform 1s linear;
}
.screen-header-icons .fa-cog:hover {
  animation: rotateCog 1.7s linear infinite;
}
@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}
