@import "global.css";
body {
  background-color: #abc1d1;
}
.status-bar {
  opacity: none;
}
.fa-bars {
  margin-left: 15px;
}
.alt-header {
  position: fixed;
  top: 0px;
}
.chat-date {
  margin-top: 120px;
  text-align: center;
}
.chat-date-box {
  color: white;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  font-size: 14.5px;
}
.main-chat {
  margin: 20px var(--side-margin);
  /* background-color: rgba(128, 128, 128, 0.534); */
  height: 100%;
}
.user-section {
  animation: fadeInLeft 1.5s;
  animation-timing-function: cubic-bezier(0.63, 0.08, 0.33, 1.66);
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.my-section {
  animation: fadeInRight 1.5s;
  animation-timing-function: cubic-bezier(0.63, 0.08, 0.33, 1.66);
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(40px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
/* ----------------------------------------------reply */
.reply {
  display: flex;
  width: 100%;
  background-color: whitesmoke;
  padding: 4px 10px;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
}

.reply-column:first-child {
  display: flex;
  align-items: center;
  width: 10%;
}
.reply-column:last-child {
  margin-right: 30px;
  display: flex;
  align-items: center;
  width: 90%;
}
.reply-input-bar {
  background-color: rgba(128, 128, 128, 0.1);
  height: 30px;
  border-radius: 18px;
  padding: 4px 13px;
  width: 100%;
  margin-left: 13px;
  border: 1px solid rgba(128, 128, 128, 0.2);
  font-size: 16px;
}

.fa-plus-square {
  color: rgba(0, 0, 0, 0.4);
  margin: 0 10px;
  font-weight: lighter;
}
.fa-smile {
  position: absolute;
  right: 80px;
  color: rgba(0, 0, 0, 0.5);
}
.reply-button {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--yellow);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  right: 44px;
}
