@import "global.css";

body {
  height: 120vh;
}
.screen-header-icon {
  position: relative;
}
.recommended-friends {
  margin: 0 var(--side-margin);
  height: 230px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: bolder;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.recommended-friends > h6 {
  margin-top: 10px;
}
.recommended-friends > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  bottom: 20px;
}
