@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@300;400;700&display=swap");
@import "reset.css";
@import "variable.css";
/* ---------------------------------component */
@import "status-bar.css";
@import "navigation-bar.css";
@import "notification.css";
@import "screen-header.css";
@import "user-component.css";
@import "open-chat-component.css";

body {
  font-family: "Open Sans", sans-serif;
  height: 200vh;
}
input {
  text-decoration: none;
  border: none;
  appearance: none;
  outline: none;
}
a {
  color: black;
  text-decoration: none;
}
