@import "global.css";

.index-header {
  margin-top: 70px;
  text-align: center;
  margin-bottom: 70px;
}
.index-header__title {
  margin-bottom: 23px;
  font-size: 24px;
}
.index-header__text {
  opacity: 0.7;
}
.login-form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.login-form input:first-child,
.login-form input:nth-child(2) {
  border-bottom: var(--border-bottom);
  transition: border-color 0.1s ease-in-out;
  /* border-bottom: 1px solid var(--gray); */
}
.login-form::placeholder {
  opacity: 0.7;
}
.login-form input:first-child:focus,
.login-form input:nth-child(2):focus {
  border-color: var(--yellow);
  opacity: 0.7;
}
.login-form input:nth-child(4),
.login-form input:nth-child(3) {
  background-color: var(--yellow);
  cursor: pointer;
}
.login-form-link {
  font-size: 12px;
  opacity: 0.7;
  margin-top: 3px;
}
body {
  overflow: hidden;
}
#splash-screen {
  background-color: var(--yellow);
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: #260e04;
  animation: hidesplashscreen 1.1s 1s ease-in-out forwards;
}
@keyframes hidesplashscreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
