.nav {
  display: flex;
  justify-content: space-around;
  background-color: rgba(128, 128, 128, 0.1);
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding: 5px 0;
  left: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.11);
}
.nav > div {
  position: relative;
}
.nav div i {
  padding: 5px;
  color: #2e363e;
}
