.user-component {
  display: flex;
  justify-content: space-between;
  margin: 0 var(--side-margin);
  padding: 5px 0;
  /* background-color: gray; */
  position: relative;
}
.user-component-column {
  display: flex;
  text-align: center;
}
.user-component-column:last-child {
  color: rgba(0, 0, 0, 0.3);
}
.user-component-avatar img {
  width: 75px;
  height: 75px;
  border-radius: 30px;
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.4);
}
.user-component-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 4px 22px;
  align-items: flex-start;
}
.user-component-name {
  font-size: 21px;
  font-weight: 900;
}
.user-component-text {
  margin-top: 6px;
  /* padding-bottom: 20px; */
  color: rgba(0, 0, 0, 0.3);
  font-size: 18;
}
.user-component-column .fa-chevron-right,
.user-component-column > span {
  margin-top: 20px;
}
.user-component-column .fa-chevron-right {
  padding-left: 5px;
}

.user-component-sm img {
  width: 60px;
  height: 60px;
  border-radius: 24px;
}
.user-component-m img {
  width: 68px;
  height: 68px;
  border-radius: 28px;
}
.user-component-m .user-component-column > span {
  margin-top: 10px;
}
.user-component-light-name {
  font-weight: 500;
}
